<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>USER page</title>
</head>
<body>
<h1>USER page!</h1>

<table id="customers">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">LastName</th>
        <th scope="col">Mail</th>
        <th scope="col">Age</th>
    </tr>
    <tr th:each="user : ${user}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getAge()}"></td>
    </tr>
</table>

&nbsp;
<form action="/logout">
    <button type="submit">Logout</button>
</form>
&nbsp;
</body>
</html>